.who-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color:#1abc9c;
  color: #f8f8f8;  
  padding-top: 85px;
  padding: 80px;
}

.who-section__img {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  margin: 40px; 
}

.who-section__title,
.who-section__subtitle {
  font-weight: normal;
}

.who-section__subtitle {
  text-align: center;
}